#log {
  margin: 0;
  padding: 0;
  background-color: #17a2b;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 10px;
  max-width: 600px;
  height: auto;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  margin-bottom: 30px;
  border-top-left-radius: 70px;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 10px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.text-right{
  margin-left: 300px;
}